@{
    ViewData["Title"] = "Home Page";
    }



<a href="#" class="btns downlaod-link">Downlaod PDF</a>
<header>
    <div class="content-wrapper">
        <h1>Omar El machti</h1>
        <h2>Web Developer</h2>
    </div>
</header>

<main class="content-wrapper">
    <section class="resume-section">
        <h2>Profile</h2>
        <p>
            It is a long established fact that a reader will be distracted by the readable 
            content of a page when looking at its layout. The point of using Lorem Ipsum is that 
            it has a more-or-less normal distribution of letters, as opposed to using 'Content here, 
            content here',
        </p>
    </section>

   @*  Profile *@
        <section class="resume-section">
            <h2>Projects</h2>
            <p>
                View some of my projects blow, For more projects visite my github at
                <a href="#">GitHub</a>
            </p>
       </section>
    
        <section class="project-item">
            <img src="~/images/project-courses-500px.png"
                 srcset="~/images/project-courses-1000px.png x2"
            alt="Alternate Text" />
            <h3>Project Name</h3>
            <p>
                It is a long established fact that a reader will be distracted by the readable
                content of a page when looking at its layout. The point of using Lorem Ipsum is that
                it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
                content here',
            </p>
            <a class="btns" href="#">Git link</a>
            <a class="btns" href="#">Live Preview</a>
        </section>

        <section class="project-item">
            <img src="~/images/project-the-wire-ipsum-500px.png"
                 srcset="~/images/project-the-wire-ipsum-1000px.png x2"
            alt="Alternate Text" />
            <h3>Project Name</h3>
            <p>
                It is a long established fact that a reader will be distracted by the readable
                content of a page when looking at its layout. The point of using Lorem Ipsum is that
                it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
                content here',
            </p>
            <a class="btns" href="#">Git link</a>
            <a class="btns" href="#">Live Preview</a>
        </section>

        <section class="project-item">
            <img src="~/images/project-troy-podcast-500px.png"
                 srcset="~/images/project-troy-podcast-1000px.png x2"
                alt="Alternate Text" />
            <h3>Project Name</h3>
            <p>
                It is a long established fact that a reader will be distracted by the readable
                content of a page when looking at its layout. The point of using Lorem Ipsum is that
                it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
                content here',
            </p>
            <a class="btns" href="#">Git link</a>
            <a class="btns" href="#">Live Preview</a>
        </section>
</section>

</main>
